.single-page {
  background-color: #FF3252;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  text-align: center;
}

.img-responsive {
  padding-top: 80px;
}

.logo {
    padding-top: 110px;
    padding-bottom: 30px;

    width: 90%;
    height: auto;
}

.icons {
  padding-top: 50px;
  padding-bottom: 20px;
  max-height: 130px;
  margin: 0 auto;
  display: block;
}

a {
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 50px;
}

a:hover {
  color: #00FF00;
}

.address-hours {
  text-align: center;
  color: #ffffff;
}

.address-hours p {
  margin: 0;
  padding: 0;
}

.spacefiller {
  height: 50px;
}

.nav-primary {
  border: 1.5px solid;
  border-left: 0;
  border-right: 0;
  border-color: #ffffff;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
}

.nav-menu {
     display: flex;
     flex-pack: center;     
}

.nav-item-header {
  color: #ffffff;
  border: 1.5px solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}
.about {
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff;
}
.about h4 {
  text-align: left;
}

.about p {
  text-align: justify;
}

.imagelink:hover {
opacity: 0.4;
}

.spacefiller span {
  font-size: 1rem;
}
